/* /includes/global.css */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

footer {
  background-color: #3a71b0; /* match About page */
  color: #fff;
  padding: 40px 20px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

footer a:hover {
  text-decoration: underline;
}

